{% extends 'base.html' %} {% block content%}
    <main>
        <div>
            <h1>
                <a href="{% url 'login' %}">Login</a>
            </h1>
            <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <button>Login</button>
            </form>
        </main>
{% endblock content %}
