{% extends 'base.html' %} {% block content%}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in task_list %}
                    <tr>
                        <td>{{task.name}}</td>
                        <td>{{task.start_date}}</td>
                        <td>{{task.due_date}}</td>
                        <td>
                            {% if task.is_completed == False %}
                                <form method="post" action="{% url 'complete_task' task.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True" />
                                    <button>Complete</button>
                                </form>
                            {% else %} Done {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>You have no tasks</p>
                {% endfor%}
            </table>
        </div>
    </main>
{% endblock content %}
